# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Descenders.iml
# Datasource local storage ignored files
/../../../../../../../:\Documents\UnityProjects\Descenders\.idea\.idea.Descenders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
